@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #030910;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  overflow-x: hidden;
}

.safe-area {
  margin-top: 60px;
}

.router-link-active.router-link-exact-active {
  border-bottom: 1px solid #fff;
  animation: popIn 400ms ease-in 0ms 1 forwards;
}

@keyframes popIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
